@import "tailwindcss";

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

input[type="text"], input[type="number"], input[type="email"], input[type="date"], select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box; 
}